<div class="container__tel__icons">
   <div class="container__tel__icons__position">
      <div class="container__tel__icons__img">
         <?xml version="1.0" encoding="UTF-8"?>
         <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
         <!-- Creator: CorelDRAW 2018 (64-Bit) -->
         <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="28px" height="47px" version="1.0"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 28 47" xmlns:xlink="http://www.w3.org/1999/xlink">
            <linearGradient id="linear-gradient">
               <stop offset="0%" stop-color="#fe7531" />
               <stop offset="100%" stop-color="#b508cd" />
            </linearGradient>
            <defs>
               <style type="text/css">
                  <![CDATA[
                  .fil0 {
                     fill: url(#linear-gradient)
                  }

                  .fil1 {
                     fill: url(#linear-gradient)
                  }
                  ]]>
               </style>
            </defs>
            <g id="Слой_x0020_1">
               <metadata id="CorelCorpID_0Corel-Layer" />
               <g id="_1595718785232">
                  <path class="fil0"
                     d="M7.64 5.11c-0.59,0 -1.06,0.48 -1.06,1.07 0,0.59 0.47,1.07 1.06,1.07 0.59,0 1.07,-0.48 1.07,-1.07 0,-0.59 -0.48,-1.07 -1.07,-1.07z" />
                  <path class="fil1"
                     d="M22.95 1l-17.9 0c-2.21,0 -4.02,1.8 -4.02,4.02l0 36.96c0,2.22 1.81,4.02 4.02,4.02l17.9 0c2.21,0 4.02,-1.8 4.02,-4.02l0 -36.96c0,-2.22 -1.81,-4.02 -4.02,-4.02zm1.98 40.98c0,1.09 -0.89,1.98 -1.98,1.98l-17.9 0c-1.09,0 -1.98,-0.89 -1.98,-1.98l0 -4.31 21.86 0 0 4.31zm0 -6.35l-21.86 0 0 -24.26 21.86 0 0 24.26zm0 -26.3l-21.86 0 0 -4.31c0,-1.1 0.89,-1.98 1.98,-1.98l17.9 0c1.09,0 1.98,0.88 1.98,1.98l0 4.31z" />
                  <path class="fil0"
                     d="M16.83 5.17l-5.66 0c-0.57,0 -1.02,0.45 -1.02,1.01 0,0.57 0.45,1.02 1.02,1.02l5.66 0c0.57,0 1.02,-0.45 1.02,-1.02 0,-0.56 -0.45,-1.01 -1.02,-1.01z" />
                  <path class="fil0"
                     d="M12.94 41.83l2.12 0c0.56,0 1.02,-0.45 1.02,-1.01 0,-0.57 -0.46,-1.02 -1.02,-1.02l-2.12 0c-0.56,0 -1.02,0.45 -1.02,1.02 0,0.56 0.46,1.01 1.02,1.01z" />
               </g>
               <g id="_1595718783632">
               </g>
               <g id="_1595718783728">
               </g>
               <g id="_1595718782832">
               </g>
               <g id="_1595718781808">
               </g>
               <g id="_1595718782032">
               </g>
               <g id="_1595718780720">
               </g>
               <g id="_1595718780432">
               </g>
               <g id="_1595718767184">
               </g>
               <g id="_1595718765648">
               </g>
               <g id="_1595718767280">
               </g>
               <g id="_1595718765360">
               </g>
               <g id="_1595718765424">
               </g>
               <g id="_1595718796880">
               </g>
               <g id="_1595718796496">
               </g>
               <g id="_1595718797040">
               </g>
            </g>
         </svg>

      </div>

      <a class="container__tel__icons__a" href="tel:+79036542376"></a>
   </div>
</div>